* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}
body,
#root,
.App {
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main nav {
  width: 100%;
}
main nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  box-shadow: 1px 1px 5px grey;
}
main nav ul li {
  padding: 5px 20px;
  font-size: 1.3rem;
}
main ul li:hover {
  background-color: rgb(230, 230, 255);
}
main nav ul li a {
  color: black;
  text-decoration: none;
}
main nav ul li:active {
  background-color: rgb(160, 160, 180);
}
.Login h1,
.Register h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(68, 68, 255);
  margin: 3rem 0;
}
form {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px grey;
  padding: 1rem;
}
form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 10px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 1px 1px grey;
  border-radius: 2px;
}
form input:focus {
  box-shadow: 0px 0px 1px 1px blue;
}

form p {
  width: 100%;
  color: red;
  font-weight: 600;
  background-color: rgb(255, 230, 230);
  padding: 5px 10px;
}
form h3 {
  width: 100%;
  text-align: center;
}
form button {
  padding: 5px 20px;
  font-size: 2rem;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 1px 1px grey;
  background-color: rgb(68, 68, 255);
  color: white;
}
form button:hover {
  background-color: rgb(46, 46, 158);
}
form button:active {
  transform: scale(0.9);
}
.rule {
  margin-top: 3rem;
  padding: 10px;
  background-color: rgb(255, 229, 181);
  color: rgb(221, 144, 0);
}
.rule h3 {
  margin-left: 5px;
}
.my_page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: radial-gradient(rgb(41, 41, 41), black);
}
.my_page h1 {
  color: rgb(68, 68, 255);
  text-align: center;
}
@media screen and (max-width: 500px) {
  form {
    width: 90%;
  }
  form input {
    font-size: 1rem;
  }
  .Login,
  .Register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
